<div id='section-id-{{ section.id }}'>
  <div class='container-log-row'>
    <h2
      class='hometitle h4 align-center spaced-row'
      {%- render 'animation-attrs', attrs: 'data-cc-animate data-cc-animate-delay="0.15s"' -%}
    >
      {{ section.settings.title | escape }}
    </h2>

    <div class='logo-container'>
      {%- for block in section.blocks -%}
        {%- if block.settings.image != blank -%}
          <img src='{{ block.settings.image |img_url: '1024x93' }}' class='logo-row'>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</div>

<style>
  .logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .logo-row {
    max-width: 120px;
    height: auto;
  }
  .container-log-row{
    max-width: var(--page-container-width);
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--container-pad-x);
    padding-left: var(--container-pad-x);
    margin-top:var(--container-pad-x);
    margin-bottom:var(--container-pad-x);
  }
</style>
{% schema %}
{
  "name": "Logo Row",
  "class": "section-logo-row",
  "disabled_on": {
    "groups": ["aside"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Logo Row"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "label": "Logo width",
          "min": 40,
          "max": 280,
          "step": 10,
          "unit": "px",
          "default": 160
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo Row",
      "settings": {}
    }
  ]
}
{% endschema %}
