<div id='section-id-{{ section.id }}'>
  <div class='container-log-row'>
    <h2
      class='h4 align-center'
      {%- render 'animation-attrs', attrs: 'data-cc-animate data-cc-animate-delay="0.15s"' -%}
    >
      {{ section.settings.title | escape }}
    </h2>

    <div class='logo-container'>
      {%- for block in section.blocks -%}
        {%- if block.settings.image != blank -%}
          <img src='{{ block.settings.image |img_url: '300x93' }}' class='logo-row'>
        {%- endif -%}
      {%- endfor -%}
    </div>
  </div>
</div>

<style>
  .logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
  }
  .logo-row {
    max-width: 80px;
  }
  .container-log-row{
    max-width: var(--page-container-width);
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--container-pad-x);
    padding-left: var(--container-pad-x);
    margin-top:var(--container-pad-x);
    margin-bottom:var(--container-pad-x);
  }
  @media (max-width: 767.98px) {
    .logo-row {
      max-width: 50px;
    }
    .align-center{
      text-align: left;
    }
  }


</style>
{% schema %}
{
  "name": "Logo Row",
  "class": "section-logo-row",
  "disabled_on": {
    "groups": ["aside"]
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Logo Row"
    }
  ],
  "blocks": [
    {
      "type": "logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo Row",
      "settings": {}
    }
  ]
}
{% endschema %}
