<div class="page-section-spacing">
  <div class="page-header">
    <h1 class="majortitle">{{ 'templates.404.title' | t }}</h1>
  </div>
  <div class="spaced-row align-centre">
    <p>{{ 'templates.404.subtext' | t }}</p>
    <a class="underline" href="{{ routes.root_url }}">{{ 'templates.404.link' | t }}</a>
  </div>
</div>
