<div id='section-id-{{ section.id }}' class="container fully">
  {% if section.settings.title != blank %}
    <h2 class='hometitle h4 align-center' {%- render 'animation-attrs', attrs: 'data-cc-animate' -%}>
      {{- section.settings.title | escape -}}
    </h2>
  {% endif %}
  <div class="photo-wall">
  {% for block in section.blocks %}
    <a href="{{ block.settings.url }}" class="photo-item">
        <img src="{{ block.settings.img | img_url: '600x300'}}"/>
    </a>
  {% endfor %}
  </div>
</div>

<style>
  .photo-wall{
    display: flex;
    gap:10px;
  }
  .photo-item{
      border-radius: 20px;
  }
  @media (max-width: 768px) {

  }
</style>

{% schema %}
{
  "name": "Photo Wall",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Photo Wall"
    }
  ],
  "blocks": [
    {
      "type": "photo_card",
      "name": "Photo Card",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "Url"
        },
        {
          "type": "image_picker",
          "id": "img",
          "label": "Image"
        },
      ]
    }
  ],
  "presets": [
    {
      "name": "Photo Wall",
      "blocks": []
    }
  ]
}
{% endschema %}
