<div class="recommend-wrap">
    <div class="recommend-container">
    {% for block in section.blocks %}
        {% render 'card-recommend-item', block: block.settings  %}
    {% endfor %}
    </div>
</div>

<style>
    .recommend-wrap{
        display: flex;
        justify-content: center;
    }
    .recommend-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        max-width: 1440px;
        overflow: hidden;
        margin: 0 auto;
    }
    @media (min-width: 768px) {
        .recommend-container{
            display:flex;
            width: 100%;
            max-width: 1440px;
            overflow: hidden;
            margin: 0 auto;
           
        }
      } 
</style>

{% schema %}
{
  "name": "Recommend",
  "class": "section-recommend",
  "disabled_on": {
    "groups": [
      "aside"
    ]
  },
  "max_blocks": 3,
  "settings": [],
  "blocks":[
    {
        "type": "custom",
        "name": "Crad",
        "settings": [
            {
                "id": "avatar",
                "type": "image_picker",
                "label": "Author Avatar",
            },
            {
                "id": "name",
                "type": "text",
                "label": "Author Name",
                "default": "Author Name"
            },


            {
                "id": "video_shopify",
                "type": "video",
                "label": "Video upload",
                "info": ".."
              },
              {
                "id": "video_external",
                "type": "text",
                "label": "External video",
                "info": "Supports YouTube and Vimeo",
                "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
              },
              {
                "id": "video_description",
                "type": "text",
                "label": "Video description",
                "info": "Describe the video for customers using screen readers. [Learn more](https://help.shopify.com/manual/online-store/themes/theme-structure/theme-features#video-block)"
              },
              {
                "id": "autoplay",
                "type": "checkbox",
                "label": "TopAutoplay",
                "info": "Video will be muted",
                "default": false
              },
              {
                "id": "placeholder_image",
                "type": "image_picker",
                "label": "Custom placeholder image",
                "info": "Required for External videos. Choose an image the same shape as your video."
              },
            {
                "id": "textarea",
                "type": "textarea",
                "label": "Textarea",
                "default": "Default Content"
            }
        ]
      }
  ],
  "presets": [
    {
      "name": "Recommend",
      "settings": {
      },
      "blocks": []
    }
  ]
}
{% endschema %}
