<div class="recommend-wrap">
    <div class="recommend-container">
    {% for block in section.blocks %}
        {% render 'card-recommend-item', block: block.settings  %}
    {% endfor %}
    </div>
</div>

<style>
    .recommend-wrap{
        display: flex;
        justify-content: center;
    }
    .recommend-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 16px;
        max-width: 1440px;
        margin: 0 auto;
    }
</style>

{% schema %}
{
  "name": "Recommend",
  "class": "section-recommend",
  "disabled_on": {
    "groups": [
      "aside"
    ]
  },
  "settings": [],
  "blocks":[
    {
        "type": "custom",
        "name": "Recommend Crad",
        "settings": [
            {
                "id": "avatar",
                "type": "image_picker",
                "label": "Avatar Image",
            },
            {
                "id": "name",
                "type": "text",
                "label": "Name",
                "default": "Default Content"
            },
            {
                "id": "cover",
                "type": "image_picker",
                "label": "Cover Image",
            },
            {
                "id": "textarea",
                "type": "textarea",
                "label": "Textarea",
                "default": "Default Content"
            },
            {
                "id": "url",
                "type": "url",
                "label": "Url",
            }
        ]
      }
  ],
  "presets": [
    {
      "name": "Recommend",
      "settings": {
      },
      "blocks": []
    }
  ]
}
{% endschema %}
