<div class="recommend-wrap">
    {% for block in section.blocks %}
        {% render 'card-recommend-item', card: {
            avatar:block.avatar,
            name:block.name,
            cover:block.cover,
            textarea:block.textarea,
            url:block.url
        } %}
    {% endfor %}
</div>

<style>
    .recommend-wrap{
        max-width: 1440px;
        display: flex;
    }
</style>

{% schema %}
{
  "name": "Recommend",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
  ],
  "blocks":[
    {
        "type": "custom",
        "name": "Recommend Crad",
        "settings": [
            {
                "type": "image_picker",
                "label": "Avatar",
                "id": "avatar",
            },
            {
                "type": "text",
                "label": "Name",
                "id": "name",
                "default": "David"
            },
            {
                "type": "image_picker",
                "label": "Cover",
                "id": "cover",
            },
            {
                "type": "textarea",
                "label": "Textarea",
                "id": "textarea",
            },
            {
                "type": "url",
                "label": "Url",
                "id": "url",
            }
        ]
      }
  ],
  "presets": [
    {
        "name": "Recommend",
    }
  ]
}
{% endschema %}
