<div class="recommend-wrap">

</div>

<style>
    .recommend-wrap{
        max-width: 1440px;
        display: flex;
    }
</style>

{% schema %}
{
  "name": "Recommend Liquid",
  "class": "section-recommend",
  "disabled_on": {
    "groups": [
      "aside"
    ]
  },
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
  ],
  "blocks":[
    {
        "type": "text_block",
        "name": "Text Block",
        "settings": [
          {
            "type": "text",
            "label": "Text",
            "id": "text_content",
            "default": "Sample Text"
          }
        ]
      },
  ],
}
{% endschema %}
