<div class="recommend-wrap">
    {% for block in section.blocks %}
        {% render 'card-recommend-item', card: {
            text:'11123'
        } %}
    {% endfor %}
</div>

<style>
    .recommend-wrap{
        max-width: 1440px;
        display: flex;
    }
</style>

{% schema %}
{
  "name": "Recommend",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
  ],
  "blocks":[
    {
        "type": "rcustom",
        "name": "Recommend Crad Block",
        "settings": [
          {
            "type": "textarea",
            "label": "Custom HTML",
            "id": "custom_html",
            "default": "<p>Enter custom HTML content here.</p>"
          }
        ]
      }
  ],
  "presets": [
    {
        "name": "Recommend",
    }
  ]
}
{% endschema %}
